@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="error" class="container custom-mt-6 mb-3 border bg-light">
    <div class="row my-4">
        <div class="col text-center text-black-50">
            Ups, tego chyba nikt się nie spodziewał... wystąpił nieoczekiwany błąd.
        </div>
    </div>
</div>